<div class="container">

    <h2> Lig Dashnoard </h2>
    <button (click)="getSourceDataclickHandler()">Get Data</button>
    <ng-container *ngIf="isShowTableLoader">Loading...</ng-container>

    <div class="filter-container">
        <app-lig-dashboard-filter [filters]="filters"></app-lig-dashboard-filter>
    </div>


    <div class="table-conatiner">
        <table class="table">
            <!-- <div class="table-head-container">
            </div> -->
            <thead>
              <tr>
                <th class="header-data" *ngFor="let header of headerColumns">
                  <div class="header-content">
                    <span>{{ header | ligHeader }}</span>
                    <span class="sort-icon">
                      <i class="icon-sort-asc" (click)="sort(header,'asc')"></i>
                      <i class="icon-sort-desc" (click)="sort(header,'desc')"></i>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <!-- <div class="table-body-container">
            </div> -->
            <tbody>
              <tr *ngFor="let row of currentPageDataSource; index as i ;count as rowCount" class="row-data" #testRowCount>
                <td class="cell-data user" *ngFor="let header of headerColumns">
                  {{row[header]}}
                </td>
              </tr>
            </tbody>

        </table>     
    </div>
    <div class="pagination-container pager-2">
      <div class="pagination-number-container">
        <div class="pagination-number" *ngIf="(currentPageNumber > paginationMinIndex)"
        (click)="pageSelectHandler('previous_page')"> &lt;&lt;</div>
        <div class="pagination-number"
        [ngClass]="{ 'active' : paginationMinIndex===currentPageNumber }"
        (click)="pageSelectHandler(paginationMinIndex)">{{paginationMinIndex}}</div>

        <div class="pagination-number" 
        [ngClass]="{ 'active' : pageNumber==currentPageNumber }"
        *ngFor="let pageNumber of snippetPageNumberList"
        (click)="pageSelectHandler(pageNumber)">{{pageNumber}}</div>
        
        <div class="pagination-number active"
        [ngClass]="{ 'active' : paginationMaxIndex===currentPageNumber }"
        (click)="pageSelectHandler(paginationMaxIndex)">{{paginationMaxIndex}}</div>
        <div class="pagination-number" *ngIf="(currentPageNumber < paginationMaxIndex)"
        (click)="pageSelectHandler('next_page')"> &gt;&gt;</div>

        <!-- <div class="pagination-number" *ngFor="let pageNumber of pageNumberList"
        (click)="pageSelectHandler($event)">{{pageNumber}}</div> -->

    </div>
    </div>
</div>