.filter-form-items-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,105px);
  column-gap: 2em;
  
}
.filter-form-item{
  display: flex;
  flex-direction: column;
}