<form class="filter-form">
    <div class="filter-form-items-container">
      <div class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>Channel Parnter</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="autoChannelPartner">
          <mat-autocomplete autoActiveFirstOption #autoChannelPartner="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" 
            [value]="option"
            (optionSelected)="optionSelectedHandler($event)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="filter-form-item user-persona">
        <mat-form-field class="example-full-width">
          <mat-label>User Persona</mat-label>
          <input type="text"
                 
                 matInput
                 [formControl]="userPersonaFilterControl"
                 [matAutocomplete]="autoUserPersona">
          <mat-autocomplete autoActiveFirstOption #autoUserPersona="matAutocomplete">
            <mat-option *ngFor="let option of userPersonaFilterOptionsCurrent$ | async" 
            [value]="option"
            (optionSelected)="optionSelectedHandler($event)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="filter-form-item talukka">
        <mat-form-field class="example-full-width">
          <mat-label>LIG Talukka</mat-label>
          <input type="text"
                 matInput
                 [formControl]="talukaFilterControl"
                 [matAutocomplete]="autoTalukka">
          <mat-autocomplete autoActiveFirstOption #autoTalukka="matAutocomplete">
            <mat-option *ngFor="let option of talukaFilterOptionsCurrent$ | async" 
            [value]="option"
            (optionSelected)="optionSelectedHandler($event)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="filter-form-item bi-territory">
        <mat-form-field class="example-full-width">
          <mat-label>BI Territory</mat-label>
          <input type="text"              
                 matInput
                 [formControl]="biTerriotoaryFilterControl"
                 [matAutocomplete]="autoBiTerriotoary">
          <mat-autocomplete autoActiveFirstOption #autoBiTerriotoary="matAutocomplete">
            <mat-option *ngFor="let option of biTerriotoaryFilterOptionsCurrent$ | async" 
            [value]="option"
             (optionSelected)="optionSelectedHandler($event)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>BI Sales Area</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>LIG Taluka</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>LIG Taluka</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>LIG State</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>Financial Year</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="false" class="filter-form-item channel-partner">
        <mat-form-field class="example-full-width">
          <mat-label>Month-Year</mat-label>
          <!-- placeholder="Pick one", aria-label="Channel Parnter" -->
          <input type="text"
                 
                 matInput
                 [formControl]="channelParnterFilterControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of channelParnterFilterOptionsCurrent$ | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>  
      <div class="filter-form-item submit-button">
        <button (click)="formSubmitHandler()" type="button"> Apply Filter </button>
      </div>

    </div>
  </form>